@{
    Layout = "_ownLayout";
}
@model List<Product>
<title>Airpods</title>
<main>
    <div class="fs-1 fw-bold text-center mt-5">Airpods</div>
    <partial name="_mypartialview" model="Model" />

    
</main>
