@{
    Layout = "_ownLayout";
}
@model List<Product>
<title>Handsfree</title>
<main>
    <div class="fs-1 fw-bold text-center mt-5">Handsfree</div>
    <partial name="_mypartialview" model="Model" />
</main>
